@import "../bootstrap-5.0.2/bootstrap";
// @import "../icons-1.8.0/font/bootstrap-icons.css";

h1 {
  font-size: 1.5rem;
  border-bottom: 2px solid $primary;
  padding-bottom: 5px;
  margin-bottom: -1px;
}

.navbar-brand {
  background-color: $primary;
  width: 7rem;
  text-align: center;
  img {
    width: 3rem;
    align-items: center;
  }
}
.logo-register{
  a {
    img {
      width: 100px;
    }
  }
}
.form-label {
  display: block;
  padding: 0.3rem;
}
.eyecatch {
  margin-right: 1rem;
  img {
    width: 200px;
    height : 250px;
    object-fit: cover;
  }
}
.wrapAssessment {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// レビュー登録ページの星評価
.stars span{
  display: flex;               /* 要素をフレックスボックスにする */
  flex-direction: row-reverse; /* 星を逆順に並べる */
  justify-content: flex-end;   /* 逆順なので、左寄せにする */
}
.stars input[type='radio']{
  display: none;               /* デフォルトのラジオボタンを非表示にする */
}
.stars label{
  color: #D2D2D2;              /* 未選択の星をグレー色に指定 */
  font-size: 30px;             /* 星の大きさを30pxに指定 */
  padding: 0 5px;              /* 左右の余白を5pxに指定 */
  cursor: pointer;             /* カーソルが上に乗ったときに指の形にする */
}
.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
  color: #F8C601;              /* 選択された星以降をすべて黄色にする */
}

// ゲームタイトルページのスコア星
.starsScore {
  --star-size: 30px;
  --star-color: rgb(207, 207, 207);
  --star-background: #fc0;
  --percent: calc(var(--rating) / 10 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  line-height: 1;
  &::before {
    content: '★★★★★★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.carousel-item {
  img {
    object-fit: cover;
    height: 520px;
    width: 100%;
  }
}

.menu-sidebar {
  ul {
    list-style-type: none;
    li {
      border: 2px rgb(207, 207, 207) solid;
      padding: 0.5rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      a, button {
        display: flex;
        align-items: center;
        &:before {
          content: " \F136";
          font-family: bootstrap-icons;
          font-weight: 400;
          font-size: 1rem;
          margin-right: 0.3rem;
          color: $primary;
        }
      }
    }
  }
}

.nav-link {
  i {
    color: rgb(184, 184, 184);
    margin-right: 0.3rem;
  }
}

a.link-normal {
  color: black;
  text-decoration: none;
}

.icon-menu{
  display: flex;
  .icon{
    width: 3rem;
    height: 3rem;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    i{
      color: white;
      font-size: 1.5rem;
    }
  }
  .title{
    display: flex;
    align-items: center;
    font-weight: 900;
    .sub {
      font-size: 0.8rem;
      color: gray;
    }
  }
}