@import "../bootstrap-5.0.2/bootstrap";

.navbar-brand {
  img {
    width: 3rem;
  }
}
.logo-register{
  a {
    img {
      width: 100px;
    }
  }
}
.form-label {
  display: block;
  padding: 0.3rem;
}