@import "../bootstrap-5.0.2/bootstrap";

.navbar-brand {
  img {
    width: 3rem;
  }
}
.logo-register{
  a {
    img {
      width: 100px;
    }
  }
}
.form-label {
  display: block;
  padding: 0.3rem;
}
.eyecatch {
  margin-right: 1rem;
  img {
    width: 200px;
    height : 250px;
    object-fit: cover;
  }
}